.nav {
  height: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__item {
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.isActive {
  color: var(--color-light);
  background-color: var(--color-blue-alt);
}
